body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
}

.navbar {
    font-size: 18px;
}

h1{
    font-weight: bold;
}

p {
    line-height: 1;
    font-size: 1em;
}

.blog-header{
    padding-top: 70px;
}

.blog-header h1{
    font-size: 4.5em;
}

.sidebar-module-inset{
    font-size:1.35em;
    padding:15px;
    background-color:#f5f5f5;
    border-radius: 5px
}



.blog-header h3{
    font-size: 2em;
    color:#9a9696
}

.blog-post-name h1{
    font-size:3.5em;
    font-style:italic;
}

.blog-post-name p{
    line-height: 1.5;
    font-size:1.5em;
}

.blog-post-meta{
    color:#9a9696;
    font-size:1em;

}

